td {
    color: whitesmoke;
}
h1 {
    color: goldenrod;
}
body {
    background-color: black;
}
li {
    color: whitesmoke;
}
#Certs a {
    text-decoration: none;
    color: green;
}
th {
    color: azure;
}
.nav a {
    color: red;
    text-align: right;
    position: relative;
}
.nav li {
    text-align: center;
}
.nav ul {
    text-align: center;
    list-style-type: none
}
p {
    color:antiquewhite;
    text-align: center;
}